<h3>Create a New Style</h3>
<p><b>Name:</b> <%= @user.name %>.</p>
<p><b>My Most Recent Style was:</b> <%= @user.style %></p>
<p><b>My Unfiltered Assesment:</b> <%= @user.comments %></p>
<button href='<%= "/hairstyles/#{hairstyle.style}"%>'><b>Save New Style</b></button>
