<h3>Home</h3>
<p><b>Welcome to the home of:</b> <%= @user.name %>.</p>
<p><b>My Most Recent Style was:</b> <%= @user.style %></p>
<p><b>My Unfiltered Assesment:</b> <%= @user.comments %></p>
<button><b>Enter New Style</b></button>
