<p><b>Welcome to the home of:</b> <%= @user.name %>.</p>
<p><b>My Most Recent Style was:</b> <%= @user.style %></p>
<p><img src="assets/images/hairstyle1.jpg" /></p>
<p><b>My Unfiltered Assesment:</b> <%= @user.comments %></p>
<button href='<%= "/hairstyles/new.html.erb" %>'><b>Add a new style</b></button>